.form {
    margin: 0 auto;
    max-width: 952px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }

.input{
    max-width: 204px;
  }

.list{
    list-style: none;
    max-width: 944px;
    margin: 0 auto;
    padding: 120px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.list__item {
    display: flex;
    align-items: center;
    position: relative;
    gap: 16px;
  }

.small_circle{
  position: absolute;
  top: -70px;
  left: 14px;
}

.small_circle_delete{
  position: absolute;
  bottom: -90px;
  left: 14px;
}